#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.button{
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 3px 3px;
  background-color: dodgerblue;
  margin: 5px;
  padding: 3px;
}

section{
  margin-top: 20px;
}