#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #030EDD; */
  /* background-image: url('./images/cloudy.jpg');
  background-size: cover; */
  width: 100vw;
  height: 100vh;
  color:#D9DBF1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  box-shadow:#110D31 3px 3px 3px 3px;

}

input:hover{
  cursor: auto ;
}

.currentConditions{
   margin-top: 15px;
   margin-bottom: 15px;
}


select{
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  box-shadow:#110D31 3px 3px 3px 3px;
}

select:hover{
  cursor: pointer;
}

#unitChoice{
  margin-bottom: 10px;
}

.button{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 2px;
  background-color: #D9DBF1;
  margin: 10px;
  padding: 5px;
  color: #110D31;
  text-decoration: none;
  
}

section{
  margin-top: 20px;
}

.forecast{
  display:flex;
  flex-direction: row;
  border: solid black 2px;
  margin: auto;
  padding: 20px;
  border-radius: 100px;
  background-color: #7279AC;
}

.daily{
  display: flex;
  flex-direction: row;
  border: solid #D9DBF1 2px;
  margin: 5px;
  padding: 20px;
  border-radius: 75px;

  /* flex-wrap: wrap; */
}

.insideDaily{
  display: flex;
  flex-direction: column;
  border: solid #030EDD 2px;
  margin: 10px;
  padding: 20px;
  border-radius: 50px;
}