#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color:#e4e6ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

input{
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  box-shadow:#110D31 3px 3px 3px 3px;

}

input:hover{
  cursor: auto ;
  padding: 15px;
  font-size: larger;
}

.currentConditions{
  display:flex;
   margin-top: 15px;
   margin-bottom: 15px;
   /* background-color: #030EDD; */
   justify-content: center;
}

.otherCurrentConditionsBox{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(3, 14, 221, 0.3);
  padding: 5px;
  max-width: fit-content;
  gap: 10px;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
}

.clear, .cloud, .drizzle, .fog, .mist, .rain, .snow, .storm, .sun, .tornado, .default{
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-size: cover;
}

.tornado{
  background-image: url('./images/tornado.jpg');
}

.storm{
  background-image: url('./images/storm.jpg');
}

.snow{
  background-image: url('./images/snowy.jpg');
}

.rain{
  background-image: url('./images/rainy.jpg');
}

.fog{
  background-image: url('./images/foggy.jpg');
}

.clear{
  background-image: url('./images/clear.jpg');
}

.cloud{
  background-image: url('./images/cloudy.jpg');
}

.drizzle{
  background-image: url('./images/drizzle.jpg');
}

.sun{
  background-image: url('./images/sunny.jpg');
}

.mist{
  background-image: url('./images/misty.jpg');
}

.default{
  color: orange;
  background-color: aqua;
}

.currentTempBox{
  font-size: 100px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(3, 14, 221, .1);
}


select{
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  box-shadow:#110D31 3px 3px 3px 3px;
}

select:hover{
  cursor: pointer;
}

#unitChoice{
  margin-bottom: 10px;
}

.buttonsContainer{
  margin-top: 10px;
  margin-bottom: 15px;
}

.button{
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 2px 2px;
  background-color: #D9DBF1;
  margin: 20px;
  padding: 5px;
  color: #110D31;
  text-decoration: none;

}

.button:hover{
  cursor: pointer;
  box-shadow: #110D31 5px 5px 5px 5px;
  padding:7px;
  font-size: large;
}

section{
  margin-top: 20px;
}

.forecast{
  display:flex;
  flex-direction: row;
  border: solid black 2px;
  margin: auto;
  padding: 20px;
  border-radius: 100px;
  background-color: rgb(109, 121, 212, .2);
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* flex: 1; */
}

.dayBox{
  width: 12rem;
  display: flex;
  justify-content: center;
}

.daily{
  display: flex;
  flex-direction: row;
  border: solid #D9DBF1 2px;
  margin: 5px;
  padding: 20px;
  border-radius: 75px;
  /* justify-content: space-evenly; */
}

.insideDaily{
  display: flex;
  flex-direction: column;
  border: solid #030EDD 2px;
  margin: 10px;
  padding: 20px;
  border-radius: 50px;
}

.insideDaily:hover{
  border: solid #030EDD 4px;
  font-size: large;
}






/* @media (max-width: 500px){

} */